h5 {
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 10px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 10.4px;
}

.right{
    float:right;
}

.left{
    float:left;
}

p.indent {
    text-indent: 1.5em; /* Отступ первой строки в пикселах */
    text-align: justify;
}

p {
    text-align: justify;
}

table {
    /*table-layout: fixed;*/
    width: 100%;
}
td, th {
    width: 2%;
}