header.main-header a.logo{
    background-color: #5d0200 !important;
}

header.main-header .navbar-static-top {
    background-color: #5d0200 !important;
}

aside.main-sidebar {
    background-color: #5d0200 !important;
}

.main-header .navbar .sidebar-toggle:hover {
    background: #1d0201 !important;
}

aside.main-sidebar .sidebar-menu li:hover a {
    background: #480200;
    border-left-color: #1d0201;
}

aside.main-sidebar .sidebar-menu li.active a {
    background: #480200;
    border-left-color: #1d0201;
}

aside.main-sidebar .sidebar-menu > li > .treeview-menu {
    background: #1d0201;
}

aside.main-sidebar .sidebar-menu > li.header {
    background: #1d0201;
}

.content-wrapper, .right-side {
    background-color: #F7E8DC !important;
}